body {
    background-color: black;
}


h1 {
     text-align: center;
     color: darkred;
     background-color: white;
     font-family: times new roman;
     font-weight: bold;
}

h3 {
     text-align: center;
     color: darkred;
     background-color: white;
     font-family: times new roman;
     font-weight: bold;
}

img {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

p {
   text-align: justify;
   font-family: sans-serif;
   font-size: 12
}

.container {
  background-color: white;
  margin-top: 15px;
  margin-bottom: 50px;
  opacity: 1;
}

.navbar {
         padding-left: 50px;
}

.title {
  text-align: center;
  color: darkred;
}


/* Here we define a navbar style that will ONLY be applied at screen sizes below 480 pixels */
@media (max-width: 480px) {
  .navbar {
    background-color: black;
}

.navbar-brand{
  color: darkred; 
  margin-left: 35px;
  font-weight: bold; 
  background-color: black;
}
